<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="dataSet"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzScroll]="{y:'600px'}"
  (nzPageIndexChange)="searchData()"
  (nzCurrentPageDataChange)="currentPageDataChange($event)"
  (nzPageSizeChange)="searchData(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th nzShowSort nzSortKey="name">Name</th>
      <th nzShowFilter [nzFilters]="filterGender"
        (nzFilterChange)="updateFilter($event)">Gender</th>
      <th nzShowSort nzSortKey="email"><span>Email</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked"
        (nzCheckedChange)="refreshStatus()"></td>
      <td>{{getFullName(data)}}</td>
      <!-- <td>{{data.name.first}} {{data.name.last}}</td> -->
      <td>{{data.gender}}</td>
      <td>{{data.email}}</td>
    </tr>
  </tbody>
</nz-table>